/* page.module.css */

.main {
  flex-direction: column;
  height: 100vh;
  /* 100% of viewport height */
}

.topContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Center horizontally */
  height: 40%;
  /* 40% of main's height */
  border: 2px solid blue;
  /* Add border for visualization */
}

.midContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Center horizontally */
  height: 20%;
  /* 20% of main's height */
  border: 2px solid green;
  /* Add border for visualization */
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* Center horizontally */
  height: 20%;
  /* 20% of main's height */
  border: 2px solid red;
  /* Add border for visualization */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  /* 20% of main's height */
  border: 2px solid orange;
  /* Add border for visualization */
}